.skill-cont {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 150px;

  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}
.skill-image {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}
.skill-item-head {
  font-size: 15px;
}
